@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.heading-accent::before {
  content: "";
  display: block;
  position: absolute;
  top: 3;
  left: -6;
  background-color: #9de500;

  width: 3px;
  height: 80%;
}

.fade-in-up {
  opacity: 0;
  animation: fade-in-up 0.5s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes fade-in-up {
  0% {
    /* transform: translateX(-100%); */
    opacity: 0;
  }

  100% {
    /* transform: translateX(50px); */
    opacity: 1;
  }
}
